body {
    margin: 0px;
    text-align: center;
    font-size: 25px;
    color: #EEEEEE;
    justify-content: center;
}

@font-face {
    font-family: "Cursed Timer ULiL";
    src: url(/CursedTimerUlil-Aznm.ttf) format('truetype');
    ascent-override: 100%;
}

.score {
    background: #0a0001;
    font-family: 'Cursed Timer ULiL';
    font-size: 90px;
    text-align: center;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    background: #1B244A;
    align-items: center;
}

button {
    background: none;
    font-family: 'Cursed Timer ULiL';
    font-size: 15px;
    color: #9AABD8;
    border-width: 0.01px;
    border-radius: 3px;
    border-color: #9AABD8;
    padding: 8px;
    margin-bottom: 50px;
}


.new-game-button {
    display: block;
    position: relative;
}